<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastagram</title>
    {% extends 'base_posts.html' %}


     {% load static %}


</head>
<body>


{% block content %}



<div class="search-container">
    <form method="POST">
    {% csrf_token %}
        <input class="search-name" name="keyword" type="text" placeholder="검색할 이미지 명" required>
        
        <label for="select-count" class="select-label">이미지 개수</label>
        <select name="cnt" class="count-select">
            <option value="10"> 10
            <option value="20" selected> 20
            <option value="30"> 30
            <option value="40"> 40
            <option value="50"> 50
            <option value="60"> 60
        </select>

        <button type="submit" class="search-btn">검색</button>

        {% if error_message %}
        <p id="keyword-error">{{ error_message }}</p>
        {% endif %}

    </form>
</div>


{% endblock %}
</body>
</html>