<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% extends 'base_posts.html' %}

    {% load static %}


</head>
<body>
    {% block content %}
    <div>
<!-- <form id="imageForm" method="post" action="{% url 'posts:post_add' %}"> -->
    <form id="imageForm" method="post">

        {% csrf_token %}
        <button type="submit" class="url_send">선택된 이미지 전송</button>
         
<div id="img_frame">
    {% for img_url in img_url_list %}

        <label class="image-checkbox-label">
            <img src="{{ img_url }}" alt="x" width="200px" height="200px" id="img_view">
            <input type="checkbox" class="input-checkbox" name="selectedImages" value="{{ img_url }}">
            <img src="{% static 'image/check.png' %}" class="check-icon">
        </label>

    {% endfor %}
</div>
    <input type="hidden" name="keyword" value="{{ keyword }}">
    </form>
    </div>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
{% endblock %}

</body>
</html>